* {
  @import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Poppins&display=swap");
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 180px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social {
  display: flex;
  align-items: center;
  gap: 4px;
  background: #d4d4d4;
  padding: 0 10px;
  border-radius: 10px;
}
.nav-end {
  display: flex;
  gap: 10px;
  font-weight: 600;
}

/* Banner Section  */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-image: url(images/Group14.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
}
.banner-text {
  padding: 50px;
}
.banner-text > p {
  font-size: 40px;
  font-weight: 700;
}
.banner-text > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.banner-text span {
  font-size: 70px;
  font-weight: 900;
  background-image: linear-gradient(to right, #f947d3, #23b3f5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.banner-img img {
  width: 80%;
  padding-left: 60px;
}

/* Funny Videos section */
.Videos-section-container {
  margin: 0 120px;
}
.videos-section-description {
  text-align: center;
  margin: 40px;
}
.videos-section-description h1 {
  font-size: 30px;
}
/* .videos-section-description h1:hover {
  font-size: 40px;
} */
.videos-section-description span {
  background-image: linear-gradient(to right, #f947d3, #23b3f5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.video-container {
  /* display: flex;
  justify-content: space-evenly; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 20px; */
}
.video-container img {
  width: 250px;
}
/* Play online section  */

.play-online-contaner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  margin-top: 70px;
}
.play-online-text-contaner {
  text-align: end;
  padding: 180px 50px 0 0;
}
.img-container {
  position: relative;
}
.img-1,
.img-2 {
  position: absolute;
}
.img-1 {
  width: 500px;
}
.img-2 {
  z-index: 1;
  top: 260px;
  right: 500px;
  width: 300px;
}
