* {
  @import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Poppins&display=swap");
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 180px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social {
  display: flex;
  align-items: center;
  gap: 4px;
  background: #d4d4d4;
  padding: 0 10px;
  border-radius: 10px;
}
.nav-end {
  display: flex;
  gap: 10px;
  font-weight: 600;
}

/* Banner Section  */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-image: url(images/Group14.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
}
.banner-text {
  padding: 50px;
}
.banner-text > p {
  font-size: 40px;
  font-weight: 700;
}
.banner-text > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.banner-text span {
  font-size: 70px;
  font-weight: 900;
  background-image: linear-gradient(to right, #f947d3, #23b3f5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.banner-img img {
  width: 80%;
  padding-left: 60px;
}

.btn-container {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.btn {
  padding: 10px 20px;
  border: 0;
  background: #aacf39;
  font-weight: 700;
  border-radius: 40px;
  font-size: 15px;
}
#btn1 {
  background: #25d3dd;
}

/* Funny Videos section */
.Videos-section-container {
  margin: 0 120px;
}
.videos-section-description {
  text-align: center;
  margin: 40px;
}
.videos-section-description h1 {
  font-size: 30px;
}

.videos-section-description span {
  background-image: linear-gradient(to right, #f947d3, #23b3f5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.video-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.video-container img {
  width: 250px;
}
/* Play online section  */

.play-online-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  margin-top: 70px;
}
.play-online-text-contaner {
  text-align: end;
  padding: 180px 50px 0 0;
}
.img-container {
  position: relative;
}
.img-1,
.img-2 {
  position: absolute;
}
.img-1 {
  width: 500px;
}
.img-2 {
  z-index: 1;
  top: 260px;
  right: 500px;
  width: 300px;
}

/* Game type section */

.game-type-section {
  margin-top: 250px;
  margin-bottom: 40px;
  padding: 0 180px;
}
.single-game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.single-game p {
  font-weight: 700;
}
.single-game:hover {
  border: 3px solid rgb(180, 22, 22);
  border-radius: 50px;
}

.game-type-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-self: center;
  align-self: center;
  gap: 10px;
}

.footer {
  background: #112339;
  padding: 30px 0;
}
.footer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-title p {
  color: white;
  font-weight: 700;
  font-size: 25px;
}

.footer-items,
.footer-privacy-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  font-weight: 700;
  font-size: 15px;
  margin: 10px 0;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}
.footer-privacy-items {
  color: rgb(189, 189, 189);
}
#footer-c {
  text-align: center;
  color: rgb(188, 188, 188);
}

@media screen and (max-width: 576px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .nav-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .banner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .banner-text {
    text-align: center;
  }
  .Videos-section-container {
    margin: 0 20px;
  }

  .videos-section-description h1 {
    font-size: 22px;
  }
  .video-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 90px;
  }

  .play-online-container {
    display: flex;
    flex-direction: column;

    margin-top: 70px;
  }
  .play-online-text-contaner {
    text-align: center;
    padding: 0 0;
  }
  .img-container {
    position: relative;
  }
  .img-1,
  .img-2 {
    position: absolute;
  }
  .img-1 {
    width: 320px;
    margin-left: 100px;
  }
  .img-2 {
    z-index: 1;
    top: 160px;
    right: 210px;
    width: 200px;
  }
  .game-type-section {
    margin-top: 460px;
    margin-bottom: 40px;
    padding: 0 10px;
  }
  .single-game p {
    font-size: 12px;
    font-weight: 700;
  }
  .game-type-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 0 0;
  }
  .single-game:hover {
    border: 1px solid rgb(180, 22, 22);
    border-radius: 50px;
  }
  .footer-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
    color: white;
    font-weight: 700;
    font-size: 15px;
    margin: 10px 0;
    font-size: 13px;

    padding: 0 40px;
  }
  .footer-privacy-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 60px;
    font-size: 13px;
    color: white;
  }
  .icon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 0 60px;
    margin: 10px 0;
  }
  #footer-c {
    margin: 0 90px;
    text-align: center;
    color: rgb(188, 188, 188);
  }
}
